# Feature store and model registry
hopsworks
numpy
hopsworks[python]
sentence_transformers
jupyter
Pillow  # Correct package name for PIL
pandas
scikit-learn==1.4.1.post1
pyarrow
requests
pickle

# Plot charts
matplotlib==3.8.3
